body {
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 10px;}
  .btn{
    margin-bottom: 10px;
  }
  .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .canvasStyle{
    margin-top: 20px;
  }
 .sadSnake{
  visibility: hidden;
 }